/* Header Bar Colors */
* {
    --md-primary-fg-color: #0c2b7a;
}
/* change hover colors*/
.md-nav__link:hover {
    color: darkorange;
}

/* use image for color theme */
.md-footer,
.md-footer-meta,
.md-footer-nav {
    background: #0c2b7a;
}
